/**
 * Credits go to the config_split module!
 */

/* Checkbox list overflow*/
.form-checkboxes {
  height: 300px;
  width: 99%;
  min-width: 300px;
  overflow-y: scroll;
  border: 1px solid #d2cdcd;
  padding: 0 10px 0;
}

.form-checkboxes input[type="checkbox"] {
  vertical-align: middle;
}

